<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lattes</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.username">root</property>
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.characterEncoding">UTF-8</property>
		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Entities -->
		<mapping class="com.pa.entity.Group" />
		<mapping class="com.pa.entity.Publication" />
		<mapping class="com.pa.entity.Curriculo" />
		<mapping class="com.pa.entity.Orientation" />
		<mapping class="com.pa.entity.PublicationType" />
		<mapping class="com.pa.entity.Qualis" />
		<mapping class="com.pa.entity.QualisData" />
		<mapping class="com.pa.entity.TechinicalProduction" />
	</session-factory>
</hibernate-configuration>

